.items {
  display: flex;
  flex-direction: column;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.card-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
  width: auto;
  height: 140px;
  overflow: hidden;
}
.item .cantidad {
  display: flex;
  border: 1px solid rgb(207, 206, 206);
  padding: 5px;
  display: block;
  height: 46px;
  width: 100px;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  text-align: center;
}
.item .cantidad > p {
  padding: 10px;
  margin: 5px;
}
.item .cantidad > span {
  text-align: center;
  margin: 10px;
}
.headers {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}
.headers > p{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
}

.img {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}
.details {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  margin-left: 20px;
}
.details > p{
  margin-bottom: 0;
}
.small-details {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: gray;
  margin-bottom: 0;
}

.old-price{
  text-decoration: line-through;
}
.new-price {
  color: red;
  font-weight: bold;
}

.new-price-2 {
  color: var(--bs-body-color);
}
